<h1>Ciao, I'm {{name}} 🦾</h1>
<p>
    <a href="https://github.com/sbormolini" target="_blank">
        <img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" />
    </a> 
    <a href="https://twitter.com/sanclro" target="_blank">
        <img alt="Twitter" src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" />
    </a> 
    <a href="https://www.linkedin.com/in/sandro-bormolini-790343b6" target="_blank">
        <img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" />
    </a> 
</p>
<p>
    Welcome to my GitHub profile! I'm a System Engineer from Switzerland and quite interested in coding. <br>
    Thanks for visiting and if you like to connect, you can click on one of the buttons above.
</p>
<br>
<h3>Things I try to understand:</h3>
<p>
    <img alt="git" src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white" />
    <img alt="github actions" src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white" />
    <img alt="Docker" src="https://img.shields.io/badge/-Docker-46a2f1?style=flat-square&logo=docker&logoColor=white" />
    <img alt="Kubernetes" src="https://img.shields.io/badge/-Kubernetes-316ccb?style=flat-square&logo=kubernetes&logoColor=white" />
    <img alt="Azure" src="https://img.shields.io/badge/-Microsoft%20Azure-008cd7?style=flat-square&logo=microsoftazure&logoColor=white" />
    <img alt="PowerShell" src="https://img.shields.io/badge/-PowerShell-253f5c?style=flat-square&logo=powershell&logoColor=white" />
    <img alt="C#" src="https://img.shields.io/badge/-CSharp-502bd4?style=flat-square&logo=csharp&logoColor=white" />
    <img alt="Linux" src="https://img.shields.io/badge/-Linux-333333?style=flat-square&logo=linux&logoColor=white" />
    <img alt="MongoDB" src="https://img.shields.io/badge/-MongoDB-13aa52?style=flat-square&logo=mongodb&logoColor=white" />
</p>
<br>


------------
<p align="center">
    This README file is generated <b>every 8 hours</b>!</br>Last refresh: {{date}}<br />
    <a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">Thanks to thmsgbrt!</a>
</p>
<p align="center">
    <img src="https://github.com/sbormolini/sbormolini/workflows/README%20build/badge.svg" />
</p>
